.home-image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.home-image-container:hover {
  transform: translateY(-10%);
}

.home-image-container::after {
  transform: translateY(10%);
  transition: transform 0.3s ease;
}

.home-image-container:hover::after {
  transform: translateY(0);
}

.row {
  align-items: center;
}

.home-btn {
  background-color: #600339ff;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.home-btn:hover {
  background-color: #55022f;
}

.home-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #55022f;
}

.home-titel {
  background-color: #55022f;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.home-titel h1 {
 font-weight: bold;
}

.home-inhoud {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 1rem;
}

.foto-rij {
  margin-top: 10rem;
  margin-bottom: 2rem;
  padding: 2rem;
}