.home-image-container {
  overflow: hidden;
  border-radius: 20px;
  background-color: #600339;
  height: 100%;
}

.home-image-container img {
  align-items: center;
  width: auto;
  height: auto;
}

.home-titel {
  background-color: #600339;
  color: white;
  padding: 10px;
}

.home-inhoud {
  background-color: #600339;
  color: white;
  padding: 1.5rem;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 25rem;
}

.HomeFotoTekst {
  color: white;
}
