.huren-background {
    height: 100vh;
}

.huren-box {
    min-width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.huren-titel {
    font-size: 3rem; 
    font-weight: bold; 
    color: #600339; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0); 
  }
  

.knop:disabled {
    background-color: #6c757d; 
    border-color: #6c757d; 
    color: #fff;
}

.titel-achtergrond {
    background-color: white;
}