.huren-box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.car-image {
    max-width: 100%;
    height: auto;    
    max-height: 150px;
    object-fit: contain; 
  }

  .gekozen-auto {
    font-size: 1.5rem;
  }

  .knoppengroep {
    background-color: #600339;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  

  .autovinden {
    max-height: 60vh;
    overflow-y: auto;
  }
  