.knop {
    background-color: #600339;
    border: none;
    border-radius: px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .knop:hover {
    background-color: #6F1C4C;
    transform: scale(1.05);
  }
  
  .knop:focus {
    outline: none;
    box-shadow: 0 0 5px #6F1C4C;
  }

  .knop:disabled {
    background-color: #6c757d; 
    border-color: #6c757d; 
    color: #fff;
}