.LoginContainer {
    margin-top: 25rem;
    max-width: 600px;
}

.LoginKaart {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.LoginKaart h2 {
    color: #600339;
    font-weight: bold;
}

.LoginKaart .form-control {
    border-radius: 5px;
}

.LoginKaart .btn-primary {
    background-color: #600339ff;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.LoginKaart .btn-primary:hover {
    background-color: #55022f;
}
.LoginKaart .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 5px #55022f;
}

.Log .LoginKaart .mt-3 a {
    text-decoration: none;
}


  