.achtergrond {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/achtergrond.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(12px); 
    z-index: -1; 
}

.LoginContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.LoginKaart {
    min-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}


.LoginKaart h2 {
    color: #600339;
    font-weight: bold;
}

.LoginKaart .form-control {
    border-radius: 5px;
}

.LoginKaart .btn-primary {
    background-color: #600339ff;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.LoginKaart .btn-primary:hover {
    background-color: #55022f;
}
.LoginKaart .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 5px #55022f;
}

.Log .LoginKaart .mt-3 a {
    text-decoration: none;
}