/* Styling voor de login pagina */
.LoginContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.LoginKaart {
    min-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}


.LoginKaart h2 {
    color: #600339;
    font-weight: bold;
}

.LoginKaart .form-control {
    border-radius: 5px;
}

.Log .LoginKaart .mt-3 a {
    text-decoration: none;
}