/* Styling voor de registratie pagina */
.RegistratieKaart {
    max-height: 90vh;
    min-width: 40vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.RegistratieKaart h2 {
    color: #600339ff;
    font-weight: bold;
}

.RegistratieKaart .form-control {
    border-radius: 5px;
}
  